body {
  font-family: sans-serif;
}

header {
  background: url('images/Clouds.png') no-repeat fixed center;
}

a{
  text-decoration: none;
}

.clouds {
  background-image: url('../images/Clouds.png');
}

/*.Bamboo {
  background-image: url('../images/Bamboo.png');
}*/

.NotepadUXUI {
  background-image: url('../images/NotepadUXUI.png');
  height: 500px;
}
.Blue_Wall {
  background-image: url('../images/Blue_Wall.png');
  height: 500px;
}

.Phone {
  background-image: url('../images/Phone.png');
  height: 500px;
}

.Mac {
  background-image: url('../images/Mac.png');
  height: 500px;
}

.Notebook3 {
  background-image: url('../images/Notebook3.png');
}

.Grass {
  background-image: url('../images/Grass.png');
}

.RowHeight {
  min-height: 500px;
}
.border-width{
  border-width: 5px;
  border-color: black;
}

.picture{
  font-size: 12px;
  color: #000033;
  font-family: sans-serif;
  line-height: normal;
  text-align: center;
}

.pictureTitle{
  font-size: 15;
  color: #000033;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.border{
  border-color: #f6f6f6;
  border-width: 3px;
}
.projectFont {
  font-size: 36px;
}

.clear{
  color: #000000;
  font-size: 100;
  text-align: center;
}

.topbar{
  background-color: black;
  color: #000000;
}
.navtext{
  color: #000000;
}

.text{
  color: #000000;
  text-align: center;
  font-weight: bolder;
  }
.text2{
    color: #000000;
    text-align: right;
    font-weight: bolder;
    }
.text3{
  color: #ffffff;
  text-align: center;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 100px;
}

.text3A{
  color: #000000;
  text-align: center;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 100px;
}

.text4{
  color: #ffffff;
  font-family: sans-serif;
  font-size: 24px;
}

.text4A{
  color: #000000;
  font-family: sans-serif;
  font-size: 24px;
}

.text5{
  color: #000000;
  font-family: sans-serif;
  font-size: 16px;
  text-align: justify;
}

.pt-auto {
  padding-top: auto;
}


.across li {
  display: inline;
  padding-left: 10px;
}

.across {
position: relative;
right: 0;
text-align: right;
font-family: sans-serif;
margin-right: 20px;
}

.Readbtn {
  background-color: black;
}

.border {
  border-color: black;
}

.sticky {
  position: fixed;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.center {
  text-align: center;
}
.contain {
  background-size: contain;
  font-size: 100px;
}
.imgA {
opacity: .3;
z-index: -1
}

.blue{
  color: #000033;
}

.parallax{
  height: 400;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Grass{
  height: 400px;
  background-image: url(../Images/Grass.png);
}

#NotepadUXUI{
  height: 400px;
  background-image: url(../Images/NotepadUXUI.png);
}

#Blue_Wall{
  height: 400px;
  background-image: url(../Images/Blue_Wall.png);
}

#Phone{
  height: 400px;
  background-image: url(../Images/Phone.png);
}

#Mac{
  height: 400px;
  background-image: url(../Images/Mac.png);
}

/*Contact sectiom*/
.content-header{
  font-family: sans-serif;
  color:#FFFFFF;
  font-weight: bold;
  font-size: 45px;
}

.section-content{
  text-align: center;

}
#contact{

    font-family: sans-serif;
  padding-top: 60px;
  width: 100%;
  /*width: 100vw;*/
  /*height: 550px;*/
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #000000 , #000003 , #000033 , #000033 , #007bff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #000000 , #000003 , #000033 , #000033 , #007bff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}
.btn{
  border-color: #ffffff;
}

/*html {
  font-size: 10px;
}*/

/*@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}*/

/*@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 28px;
  }
}*/
