body {
  font-family: sans-serif;
}

header {
  background: url('images/Clouds.png') no-repeat fixed center;
}

a{
  text-decoration: none;
}

.clouds {
  background-image: url('../images/Clouds.png');
}

/*.Bamboo {
  background-image: url('../images/Bamboo.png');
}*/

.NotepadUXUI {
  background-image: url('../images/NotepadUXUI.png');
}

.Notebook3 {
  background-image: url('../images/Notebook3.png');
}

.Grass {
  background-image: url('../images/Grass.png');
}

.RowHeight {
  min-height: 400px;
}

.projectFont {
  font-size: 36px;
}

.clear{
  color: #003300;
  font-size: 100;
  text-align: center;
}

.text{
  color: #000033;
  text-align: center;
  font-weight: bolder;
  }
.text2{
    color: #000033;
    text-align: right;
    font-weight: bolder;
    }


.across li {
  display: inline;
  padding-left: 10px;
}

.across {
position: relative;
right: 0;
text-align: right;
font-family: sans-serif;
margin-right: 20px;
}

.sticky {
  position: fixed;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.center {
  text-align: center;
}
.contain {
  background-size: contain;
  font-size: 100px;
}
img {
opacity: .3;
z-index: -1
}

.blue{
  color: #000033;
}

.parallax{
  height: 500;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Grass{
  height: 500px;
  background-image: url(../Images/Grass.png);
}

/*Contact sectiom*/
.content-header{
  font-family: sans-serif;
  color:#FFFFFF;
  font-weight: bold;
  font-size: 45px;
}

.section-content{
  text-align: center;

}
#contact{

    font-family: sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  /*height: 550px;*/
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}
.btn{
  border-color: #ffffff
}
